.footer {
    background-color: #666666;
    padding: .5rem;
    display: flex;
    justify-content:space-between;
    
    .instagram, .whatsapp {
        width: 2rem;
    }
    .btnWhats {
        position: fixed;
        width: 65px;
        height: 65px;
        line-height: 65px;
        bottom: 5px;
        right: 30px;
        text-align: center;
        font-size: 50px;
        z-index: 100;
        
        
    }
    
   
}

